body{
    background-image: url(../../assets/img/login.jpeg);
}

#mainbody{

}

body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


.card-login{
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(255, 255, 255);
    background-image: none;
    background-origin: padding-box;
    background-position: 0% 0%;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 1px 4px 0px;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.87);
    display: inline-block;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    margin-bottom: 25px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 25px;
    padding-bottom: 20px;
    position: relative;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: linear;
    width: 360px;
}

.card-content{
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.87);
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 30px;
    padding-top: 0px;
    position: relative;
}

.input-group{
    border-collapse: separate;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.87);
    display: table;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    position: relative;
}

.input-group-addon{
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: none;
    background-origin: padding-box;
    background-position: 0% 0%;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-color: rgb(85, 85, 85);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0px;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-collapse: separate;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color: rgb(85, 85, 85);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(85, 85, 85);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(85, 85, 85);
    border-top-left-radius: 4px;
    border-top-right-radius: 0px;
    border-top-style: none;
    border-top-width: 0px;
    box-sizing: border-box;
    color: rgb(85, 85, 85);
    display: table-cell;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    padding-bottom: 0px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 6px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    width: 30%;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;

}

.label-floating{
    border-collapse: separate;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.87);
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 20px;
    padding-bottom: 10px;
    position: relative;
    width: 100%;
}

.control-label{
    border-collapse: separate;
    box-sizing: border-box;
    color: rgb(170, 170, 170);
    display: block;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 16px;
    max-width: 266px;
    pointer-events: none;
    position: absolute;
    top: -7px;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: ease;
    will-change: left, top, contents;
}

.form-control{
    background-color: transparent;
    background-image: linear-gradient(rgb(156, 39, 176), rgb(156, 39, 176)), linear-gradient(rgb(210, 210, 210), rgb(210, 210, 210));
    background-position: 50% 100%, 50% calc(-1px + 100%);
    background-position-x: 50%, 50%;
    background-position-y: 100%, calc(-1px + 100%);
    background-repeat: no-repeat;
    background-size: 0px 2px, 100% 1px;
    border-bottom-color: rgb(85, 85, 85);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-collapse: separate;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color: rgb(85, 85, 85);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(85, 85, 85);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(85, 85, 85);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top-style: none;
    border-top-width: 0px;
    box-shadow: none;
    box-sizing: border-box;
    color: rgb(85, 85, 85);
    display: table-cell;
    float: none;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size: 14px;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-position: normal;
    font-weight: 400;
    height: 36px;
    line-height: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 7px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 7px;
    position: relative;
    transition-delay: 0s;
    transition-duration: 0s;
    transition-property: background;
    transition-timing-function: ease-out;
    width: 266px;
    z-index: 2;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
}

.material-input{
    border-collapse: separate;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.87);
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;

}

.material-icons{
    border-collapse: separate;
    box-sizing: border-box;
    color: rgb(85, 85, 85);
    direction: ltr;
    display: inline-block;
    font-family: "Material Icons";
    font-feature-settings: "liga";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 24px;
    overflow-wrap: normal;
    text-align: center;
    text-transform: none;
    white-space: nowrap;

}